body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.imagen {
  color: rgb(73, 107, 129);
  display: block;
  font-weight: 300;
  line-height: 24px;
  padding-right: 20px;
  position: absolute;
  width: 90px;
  padding-left: 10%;
}

.imagen img{
  border-radius: 50%;
  max-width: 70px;
}

.articulo {
  box-sizing: border-box;
  font-weight: 300;
  line-height: 24px;
  padding-left: 16%;
  width: 1110px;
}

.titulo {
  color: #00adf0;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.autor {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 7px;
  min-height: 24px;
}

.autor a {
  text-decoration: none;
  color: #58caee;
}

.tags {
  clear: both;
  color: grey;
  display: block;
  font-size: 12px;
}

.tags a {
  color: grey;
  font-size: 12px;
  text-decoration: none;
}

.texto {
  color: grey;
  line-height: 22px;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.texto a {
  box-sizing: border-box;
  color: #58caee;
  display: block;
  float: right;
  font-weight: 400;
  margin-right: 80px;
  margin-top: 40px;
  max-width: 100%;
  text-decoration: none;
}
