body {
    font-family: Arial;
}

a {
    text-decoration: none;
}

.contenido {
    background: #fff;
    border-top: 1px solid #fff;
    color: #666;
    padding: 20px 20px 0 20px;
}

.general {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    font-size: 12px;
    color: #3869ab;
}

.texto p{
    margin: 10px 0;
    color: #666;
    padding: 15px 0px 20px 0px;
}

.configuracion {
    color: #069;
    font-size: 12px;
    background: 0;
    border: 0;
    top: 8px;
    padding: 0;
    margin-left: 60%;
}

.boton img {
    border-radius: 3px;
}

.footer {
    background: #f7f7f7;
    border-top: 1px solid #eee;
    font-size: 12px;
    margin-top: 20px;
    padding: 25px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.right {
    margin-left: 65%;
}
