button {
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
    border-radius: 3px;
    background-color:rgb(200, 0, 0);
    font-size: 15px;
}