.modificar, .eliminar{
    float: right;
    width: 100px;
    height: 45px;
    text-align: center;
    margin-right: 0.5%;
}

.return {
    position: relative;
    left: 10px;
    top: -50px;
    color: black;
}

.return:hover {
    text-decoration: none;
}