body {
    padding: 0 2% 0 2%;
}

h1 {
    text-align: center;
}

div {
    padding: 0.2%;
}

.botones {
    margin-left: 45%;
}

#opcionC {
    margin-top: 1%;
}

#opcionD {
    margin-top: 0.4%;
}

#opcionE {
    margin-top: 1%;
}

#opcionF {
    margin-top: 0.7%;
}

#leve {
    position: absolute;
    visibility: hidden;
}

#grave {
    position: absolute;
    visibility: hidden;
}