.total {
    margin: 1%;
}

.videoPrincipal {
    padding-left: 20%;
}

.videoSecundario {
    width: 70%;
}

.controles {
    margin-left: 31.5%;
}

img {
    padding: 10px;
}

.progress {
    margin-left: 24.5%;
    width: 50%;
}

progress {
    width: 100%;
}

#general {
    width: 70%;
    position: relative;
    float: left;
}

.selectorVideos {
    position: relative;
    width: 30%;
    float: left;
}

.titulo {
    font-size: 36px;
}