/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 900px;
}

/* Set gray background color and 100% height */

.sidenav {
    padding-top: 20px;
    background-color: #ffffff;
    height: 100%;
}

/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.polaroid {
    margin: 0 0 2% 25%;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.datos {
    padding: 10px;
}

.polaroid img {
    width: 100%;
    padding-top: 5%;
}

.text-left {
    margin-top: 1%;
}