body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#uno {
    width: 50%;
    height: 50%;
    background-color: #000;
    float: left;
    color: white;
    position: relative;
}

#dos {
    width: 50%;
    height: 50%;
    background-color: #424242;
    float: left;
    position: relative;
}

#tres {
    width: 50%;
    height: 50%;
    background-color: #848484;
    float: left;
    position: relative;
}

#cuatro {
    width: 50%;
    height: 50%;
    background-color: #BDBDBD;
    float: left;
    position: relative;
}

.b1 {
    height: 30px;
    width: 60px;
    top: calc(100% - 15px);
    left: calc(50% - 30px);
    z-index: 1;
    position: absolute;
    /* boton derecha */
}

.b2 {
    height: 30px;
    width: 60px;
    top: 50%;
    left: calc(0% - 30px);
    position: absolute;
    /* boton arriba */
}

.b3 {
    height: 30px;
    width: 60px;
    top: 50%;
    left: calc(100% - 30px);
    position: absolute;
    z-index: 1;
    /* boton abajo */
}

.b4 {
    height: 30px;
    width: 60px;
    top: -15px;
    left: calc(50% - 30px);
    position: absolute;
    /* boton izquierda */
}