body {
    position: relative;
    min-height: 100%;
    margin: 0;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
}

.logo {
    position: absolute;
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.logo img {
    height: 100%;
    margin-left: 32.5%;
}

.secciones {
    position: absolute;
    margin-left: 20%;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.categorias {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

.btns {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.fa {
    color: #000;
    text-align: center;
}

.btns button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* PARTE DE LAS SECCIONES */

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../img/moda_mujer.jpg");
  min-height: 500px;
}

.bgimg-2 {
  background-image: url("../img/moda_hombre.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("../img/moda_mujer.jpg");
  min-height: 500px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #000;
  text-shadow: 2px 2px 4px #000000;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.border {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

.info {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 60px;
    text-align: justify;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

/* FOOTER STYLE */

.social .fa {
    color: white;
}