.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 7.5px;
    width: calc(100% - 20px);
    height: 737.5px;
    grid-gap: 10px;
}

.grid-item {
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
}

.jugador {
    background-color: #fff;
    border: 2px solid #000;
    padding: 20px;
    margin-left: 10%;
    font-size: 30px;
    text-align: center;
}

.grid-jugadores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5px;
}

img {
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

#g2,#fnatic,#origen,#sk {
    height: 365px;
}

#g2 img, #fnatic img, #origen img, #sk img{
    margin-left: 15px;
}